name: Picky.Editor Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: zip -r extension.zip extension/
      - uses: softprops/action-gh-release@v1
        with:
          files: extension.zip